.signUpBody {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 7em;
    color: white;
    width: auto;
    position: relative;
}
.signUpBody form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.signUpBody form .row {
    width: 40%;
    height:3em;
    margin-top: 1em;
    position: relative;
  
}
.signUpBody form .row input {
    width: 100%;
    height: 100%;
    /* padding: 1em; */
    padding-left: 2em;
    font-size: 1.2em;
    background-color: #424769;
    border: none;
    color: white;
}
.signUpBody form .row .icon {
    position: absolute;
    left: .5em;
    color: #f7b80a;
    top: 25%;
 
}
form  button {
    margin-top: 2em;
    background-color: #f7b80a;
    box-shadow: 0 5px 15px rgba(247, 184, 10, .4);
    width:30%;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
}
