.homeBody {
    margin: 0;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    color: black;
}

.homeBody .intro {
    width: auto;
    height: 100%;
    background-color: #c9a079;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3em;
    z-index: 1;
    align-items: center;
}

.homeBody .intro .info {
    display: flex;
    flex-direction: column;
    margin-left: 7em;
    /* background-color: red; */
    gap: 1em;
    width: 65em;
}

.homeBody .intro .info span {
    font-size: 5em;
    /* margin-top: .5em; */
    font-weight: bold;
    line-height: 1em;

}

.homeBody .intro .info p {
    font-size: 1.2em;
    width: 80%;
}

.homeBody .intro .info .contact {
    display: flex;
    flex-direction: row;
    gap: 3em;
    width: auto;
}

.homeBody .intro .info .contact .email,
.advance {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.homeBody .intro .info .contact span {
    font-size: 1.5em;
}

.contactBtn {
    /* background-color: red; */
    margin-top: 5em;
    width: 90%;
    display: flex;
    gap: 5em
}

.contactBtn button {
    padding: 1em;
    width: 10em;
    background-color: #e4a32f;
    box-shadow: 10px 10px 8px #888888;
    font-weight: bold;
    font-size: 1.5em;
}

.image {
    position: absolute;
    right: 0em;
    width: 30%;
    bottom: 0em;
    height: 80%;
    /* background-color: red; */
    z-index: -1;
  
}

.image img {
    /* height: 100%; */
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.image:hover img:first-child{
    bottom: 5em;
}
.image:hover img:nth-child(2){
    left: 40%;
}