.homeBody {
    top:0;
    right:0;
    bottom: 0;
    left:0;
    position: absolute;
    background-color: #7de390;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home {
    color: white;
    background-color: #322e47;
    padding: 1em;
    border-radius: .5em;
    border: .1em solid lightgray;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
    align-items: center;
    justify-content: center;
    gap: 3em;
    font-size: 1.1em;
}
.info {
 
    width: auto;
    display: flex;
    align-items: center;
    /* gap: 2em; */
    /* background-color: red; */
    justify-content: flex-start;
    gap: 1em;
    
}
