.messageCard {
    float: left;
    height: auto;

    width: auto;

    color: white;
    align-items: center;
    border-radius: 0.5em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.5em;
    justify-content: flex-end;
    
    word-wrap: break-word
}

.messageCard.own {
    float: right;
    align-items: flex-end;

}

.message {
    display: flex;
    gap: 0.5em;
    align-items: flex-end;
    width: 100%;
    word-wrap: break-word

}

.message.own {
    flex-direction: row-reverse;
}

.messageCard .text {
    background-color: #9900ff20;
    border-radius: 0.5em;
    padding: .8em;
    color: white;
    font-size: 1.1em;
    /* width:30%; */
    
    /* word-wrap: break-word; */
    
}
.messageCard .text.longText{
    width:30%;
 
    word-wrap: break-word;
}
.messageCard.own .text {
    background-color: #4f04ff21;
    color: white;

}

.timeago {
    color: white;
}

.imgMsg {
    width: calc(100% - 50%);
    height: calc(100% - 50%);
    border-radius: .5em;
    object-fit: contain;
}

.msgFeatures {

    color: white;

    display: flex;
    
}