.todoBody{
    width: 80em;
    height: 50em;
    /* background-color:aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around   ;
}
@media screen and (max-width:1366px) {
    .todoBody:before,.todoBody:after{
        content: "";
        display: table;
        clear: both;
    }
    .todoBody{
        width: 60em;
        height: 30em;
    }
}